# How to Print Pretty Tables in Terminal With PythonÂ Easily

Code for the following Medium article: [update](https://medium.com/@pawjast)

https://pypi.org/project/tabulate/

## Imports

In [1]:
import pandas as pd
from tabulate import tabulate

## Data

In [2]:
df = pd.DataFrame.from_dict(
    {
        "Text": ["ABC", "hello", "Python is cool", "IO"], 
        "Numbers": [1.23, 2.5001, 3.0, .1],
        "State": [True, False, False, True],
        "More numbers": [0, 0.015, 3.1415, 1000.1234],
    },
)

df.index = ["I", "II", "III", "IV"]
df

               Text  Numbers  State  More numbers
I               ABC   1.2300   True        0.0000
II            hello   2.5001  False        0.0150
III  Python is cool   3.0000  False        3.1415
IV               IO   0.1000   True     1000.1234

## Print DataFrame

## Way 1

Pandas uses 3rd party `tabulate` to print the tables.

### Defaults

You can directly print a `DataFrame` using its `.to_markdown()` method.

In [3]:
df.to_markdown()

'|     | Text           |   Numbers | State   |   More numbers |\n|:----|:---------------|----------:|:--------|---------------:|\n| I   | ABC            |    1.23   | True    |         0      |\n| II  | hello          |    2.5001 | False   |         0.015  |\n| III | Python is cool |    3      | False   |         3.1415 |\n| IV  | IO             |    0.1    | True    |      1000.12   |'

In [4]:
print(df.to_markdown())

|     | Text           |   Numbers | State   |   More numbers |
|:----|:---------------|----------:|:--------|---------------:|
| I   | ABC            |    1.23   | True    |         0      |
| II  | hello          |    2.5001 | False   |         0.015  |
| III | Python is cool |    3      | False   |         3.1415 |
| IV  | IO             |    0.1    | True    |      1000.12   |

### With parameters

The output can be tweaked by passing parameters that will feed directly to `tabulate`.

More on that later on.

In [5]:
# help(df.to_markdown)

In [6]:
# Let's change the style of a table
print(
    df.to_markdown(
        tablefmt="simple"
    )
)

     Text              Numbers  State      More numbers
---  --------------  ---------  -------  --------------
I    ABC                1.23    True             0
II   hello              2.5001  False            0.015
III  Python is cool     3       False            3.1415
IV   IO                 0.1     True          1000.12

## Way 2

Import and use `tabulate` directly.

This is a more versatile option as it allows to print `DataFrames` and other structures such as nested `lists` or `dictionaries`.

### Default

In [7]:
print(
    tabulate(
            df,
    )
)

---  --------------  ------  -----  ---------
I    ABC             1.23    True      0
II   hello           2.5001  False     0.015
III  Python is cool  3       False     3.1415
IV   IO              0.1     True   1000.12
---  --------------  ------  -----  ---------

### With parameters

In [8]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple"
    )
)

     Text              Numbers  State      More numbers
---  --------------  ---------  -------  --------------
I    ABC                1.23    True             0
II   hello              2.5001  False            0.015
III  Python is cool     3       False            3.1415
IV   IO                 0.1     True          1000.12

## Print `list` of `lists`

* Each `list` represents a row of values.

In [9]:
my_list = [
    ["ABC", 1.23, True, 0],
    ["hello", 2.5001, False, 0.015],
    ["Python is cool", 3.0, False, 3.1415],
    ["IO", .1, True, 1000.1234],
]

my_list

[['ABC', 1.23, True, 0],
 ['hello', 2.5001, False, 0.015],
 ['Python is cool', 3.0, False, 3.1415],
 ['IO', 0.1, True, 1000.1234]]

In [10]:
print(
    tabulate(
            my_list,
            tablefmt="simple"
    )
)

--------------  ------  -----  ---------
ABC             1.23    True      0
hello           2.5001  False     0.015
Python is cool  3       False     3.1415
IO              0.1     True   1000.12
--------------  ------  -----  ---------

Add headers

In [11]:
print(
    tabulate(
            my_list,
            tablefmt="simple",
            headers=["Text", "Numbers", "State", "More numbers"]
    )
)

Text              Numbers  State      More numbers
--------------  ---------  -------  --------------
ABC                1.23    True             0
hello              2.5001  False            0.015
Python is cool     3       False            3.1415
IO                 0.1     True          1000.12

Use 1st row as a header

In [12]:
my_list = [
    ["Text", "Numbers", "State", "More numbers"],  # headers
    ["ABC", 1.23, True, 0],
    ["hello", 2.5001, False, 0.015],
    ["Python is cool", 3.0, False, 3.1415],
    ["IO", .1, True, 1000.1234],
]

my_list

[['Text', 'Numbers', 'State', 'More numbers'],
 ['ABC', 1.23, True, 0],
 ['hello', 2.5001, False, 0.015],
 ['Python is cool', 3.0, False, 3.1415],
 ['IO', 0.1, True, 1000.1234]]

In [13]:
print(
    tabulate(
            my_list,
            tablefmt="simple",
            headers="firstrow"
    )
)

Text              Numbers  State      More numbers
--------------  ---------  -------  --------------
ABC                1.23    True             0
hello              2.5001  False            0.015
Python is cool     3       False            3.1415
IO                 0.1     True          1000.12

Add index

In [14]:
print(
    tabulate(
            my_list,
            tablefmt="simple",
            headers="firstrow",
            showindex=True
    )
)

    Text              Numbers  State      More numbers
--  --------------  ---------  -------  --------------
 0  ABC                1.23    True             0
 1  hello              2.5001  False            0.015
 2  Python is cool     3       False            3.1415
 3  IO                 0.1     True          1000.12

Add custom index

* use iterable

In [15]:
print(
    tabulate(
            my_list,
            tablefmt="simple",
            headers="firstrow",
            showindex=["I", "II", "III", "IV"]
    )
)

     Text              Numbers  State      More numbers
---  --------------  ---------  -------  --------------
I    ABC                1.23    True             0
II   hello              2.5001  False            0.015
III  Python is cool     3       False            3.1415
IV   IO                 0.1     True          1000.12

## Print dictionaries

In [16]:
my_dict = {
    "Text": ["ABC", "hello", "Python is cool", "IO"], 
    "Numbers": [1.23, 2.5001, 3.0, .1],
    "State": [True, False, False, True],
    "More numbers": [0, 0.015, 3.1415, 1000.1234],
}

my_dict

{'Text': ['ABC', 'hello', 'Python is cool', 'IO'],
 'Numbers': [1.23, 2.5001, 3.0, 0.1],
 'State': [True, False, False, True],
 'More numbers': [0, 0.015, 3.1415, 1000.1234]}

In [17]:
print(
    tabulate(
            my_dict,
            tablefmt="simple"
    )
)

--------------  ------  -----  ---------
ABC             1.23    True      0
hello           2.5001  False     0.015
Python is cool  3       False     3.1415
IO              0.1     True   1000.12
--------------  ------  -----  ---------

### Add `headers` and `indexes`

In [18]:
print(
    tabulate(
            my_dict,
            tablefmt="simple",
            headers="keys",
            showindex=["I", "II", "III", "IV"]
    )
)

     Text              Numbers  State      More numbers
---  --------------  ---------  -------  --------------
I    ABC                1.23    True             0
II   hello              2.5001  False            0.015
III  Python is cool     3       False            3.1415
IV   IO                 0.1     True          1000.12

## Visual tweaks

In [19]:
df

               Text  Numbers  State  More numbers
I               ABC   1.2300   True        0.0000
II            hello   2.5001  False        0.0150
III  Python is cool   3.0000  False        3.1415
IV               IO   0.1000   True     1000.1234

### Table styles

* to show Pandas column names, use `key` keyword in `headers`

Simple outline

In [20]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline"
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â Text           â   Numbers â State   â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â ABC            â    1.23   â True    â         0      â
â II  â hello          â    2.5001 â False   â         0.015  â
â III â Python is cool â    3      â False   â         3.1415 â
â IV  â IO             â    0.1    â True    â      1000.12   â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

Double outline

In [21]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="double_outline"
    )
)

âââââââ¦âââââââââââââââââ¦ââââââââââââ¦ââââââââââ¦âââââââââââââââââ
â     â Text           â   Numbers â State   â   More numbers â
â ââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ£
â I   â ABC            â    1.23   â True    â         0      â
â II  â hello          â    2.5001 â False   â         0.015  â
â III â Python is cool â    3      â False   â         3.1415 â
â IV  â IO             â    0.1    â True    â      1000.12   â
âââââââ©âââââââââââââââââ©ââââââââââââ©ââââââââââ©âââââââââââââââââ

rst

In [22]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="rst"
    )
)

====  ==============  =========  =======  ==============
..    Text              Numbers  State      More numbers
====  ==============  =========  =======  ==============
I     ABC                1.23    True             0
II    hello              2.5001  False            0.015
III   Python is cool     3       False            3.1415
IV    IO                 0.1     True          1000.12
====  ==============  =========  =======  ==============

tsv

In [23]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="tsv"
    )
)

   	Text          	  Numbers	State  	  More numbers
I  	ABC           	   1.23  	True   	        0
II 	hello         	   2.5001	False  	        0.015
III	Python is cool	   3     	False  	        3.1415
IV 	IO            	   0.1   	True   	     1000.12

Latex

In [24]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="latex"
    )
)

\begin{tabular}{llrlr}
\hline
     & Text           &   Numbers & State   &   More numbers \\
\hline
 I   & ABC            &    1.23   & True    &         0      \\
 II  & hello          &    2.5001 & False   &         0.015  \\
 III & Python is cool &    3      & False   &         3.1415 \\
 IV  & IO             &    0.1    & True    &      1000.12   \\
\hline
\end{tabular}

### Table alignment

By default:
* numerical columns are aligned on a decimal point
* text columns are aligned to the left

There are two parameters to align strings and numbers:
* `numalign`
* `stralign`

Default alignment

In [25]:
# Default alignment
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline"
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â Text           â   Numbers â State   â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â ABC            â    1.23   â True    â         0      â
â II  â hello          â    2.5001 â False   â         0.015  â
â III â Python is cool â    3      â False   â         3.1415 â
â IV  â IO             â    0.1    â True    â      1000.12   â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

String alignment

In [26]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            stralign="center"
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â      Text      â   Numbers â  State  â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â  I  â      ABC       â    1.23   â  True   â         0      â
â II  â     hello      â    2.5001 â  False  â         0.015  â
â III â Python is cool â    3      â  False  â         3.1415 â
â IV  â       IO       â    0.1    â  True   â      1000.12   â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

Number alignment

In [27]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            stralign="center",
            numalign="right"
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â      Text      â   Numbers â  State  â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â  I  â      ABC       â      1.23 â  True   â              0 â
â II  â     hello      â    2.5001 â  False  â          0.015 â
â III â Python is cool â         3 â  False  â         3.1415 â
â IV  â       IO       â       0.1 â  True   â        1000.12 â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

Column alignment

* This overrides the `stralign` and `numalign`!

In [28]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            stralign="center",
            numalign="right",
            colalign=("left",)
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â      Text      â   Numbers â  State  â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â      ABC       â      1.23 â  True   â              0 â
â II  â     hello      â    2.5001 â  False  â          0.015 â
â III â Python is cool â         3 â  False  â         3.1415 â
â IV  â       IO       â       0.1 â  True   â        1000.12 â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

Column alignment - per column

In [29]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            colalign=("left", "center", "decimal", "right")
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â      Text      â   Numbers â   State â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â      ABC       â    1.23   â    True â         0      â
â II  â     hello      â    2.5001 â   False â         0.015  â
â III â Python is cool â    3      â   False â         3.1415 â
â IV  â       IO       â    0.1    â    True â      1000.12   â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

### Number precision

Set precision for all numeric columns

In [30]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            floatfmt=".2f"
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â Text           â   Numbers â State   â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â ABC            â      1.23 â True    â           0.00 â
â II  â hello          â      2.50 â False   â           0.01 â
â III â Python is cool â      3.00 â False   â           3.14 â
â IV  â IO             â      0.10 â True    â        1000.12 â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ

Set precision for each column individually

In [31]:
print(
    tabulate(
            df,
            headers="keys",
            tablefmt="simple_outline",
            floatfmt=("","", ".2f","", ".1f")
    )
)

âââââââ¬âââââââââââââââââ¬ââââââââââââ¬ââââââââââ¬âââââââââââââââââ
â     â Text           â   Numbers â State   â   More numbers â
âââââââ¼âââââââââââââââââ¼ââââââââââââ¼ââââââââââ¼âââââââââââââââââ¤
â I   â ABC            â      1.23 â True    â            0.0 â
â II  â hello          â      2.50 â False   â            0.0 â
â III â Python is cool â      3.00 â False   â            3.1 â
â IV  â IO             â      0.10 â True    â         1000.1 â
âââââââ´âââââââââââââââââ´ââââââââââââ´ââââââââââ´âââââââââââââââââ