# Convert 0,1 to bool and back

Code for the following Medium article: [todo: update](update)

**References:**

1. https://www.w3schools.com/python/ref_func_map.asp

2. https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.astype.html

## Imports

In [17]:
import pandas as pd
import numpy as np

## Lists

We're going to use `bool()` and `int()` to convert from one type to another:

In [18]:
bool(1)

True

In [19]:
bool(0)

False

In [20]:
int(True)

1

In [21]:
int(False)

0

### Using `map`
`map` creates a map object.

In [22]:
map(bool, [0, 1, 0, 1])

**0,1 to `bool`**  
We need to convert map object to a list.

In [23]:
list(map(bool, [0, 1, 0, 1]))

[False, True, False, True]

**`bool` to 0, 1**

In [24]:
list(map(int,[True, True, False, False]))

[1, 1, 0, 0]

### Using list comprehension

**0,1 to `bool`**

In [25]:
# Way 1
[bool(x) for x in [0, 1, 0, 1]]

[False, True, False, True]

In [26]:
# Way 2
[x==1 for x in [0, 1, 0, 1]]

[False, True, False, True]

**`bool` to 0, 1**

In [27]:
[int(x) for x in [True, True, False, False]]

[1, 1, 0, 0]

**`on/off` to `bool`**

In [28]:
# Way 1
[x=="on" for x in ["on", "off", "on", "off", "on"]]

[True, False, True, False, True]

**`on/off` to 0, 1 using `dict` mapping**

In [29]:
# Create mapping dictionary
dict_map = {
    "on": 1,
    "off": 0
}
dict_map

{'on': 1, 'off': 0}

In [30]:
[dict_map[x] for x in ["on", "off", "on", "off", "on"]]

[1, 0, 1, 0, 1]

In [31]:
# It gives an error if unknown key is requested
[dict_map[x] for x in ["on", "off", "on", "off", "on", "error"]]

KeyError: 'error'

In [32]:
# Replaces unknown key with default value - 'None'
[dict_map.get(x) for x in ["on", "off", "on", "off", "on", "error"]]

[1, 0, 1, 0, 1, None]

In [33]:
# Replaces unknown key with default value specified by user, eg. "???"
[dict_map.get(x, "???") for x in ["on", "off", "on", "off", "on", "error"]]

[1, 0, 1, 0, 1, '???']

## Pandas Series

In [34]:
ser_zero_one = pd.Series(
    data=[1, 0, 1, 0]
)

ser_zero_one

0    1
1    0
2    1
3    0
dtype: int64

### Using `astype(bool)`

In [35]:
ser_zero_one.astype(bool)

0     True
1    False
2     True
3    False
dtype: bool

In [36]:
# To save changes we need to assign them to the same variable again
ser_zero_one = ser_zero_one.astype(bool)
ser_zero_one

0     True
1    False
2     True
3    False
dtype: bool

### Using `astype(bool)` with numbers

In [37]:
ser_numbers = pd.Series(
    data=[0, 1, 2, -1, 0.5, np.nan]
)

ser_numbers

0    0.0
1    1.0
2    2.0
3   -1.0
4    0.5
5    NaN
dtype: float64

In [38]:
# 0 maps to 'False`, anything else maps to True
ser_numbers.astype(bool)

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

### Using `==` for `0,1` to `bool`

In [39]:
ser_zero_one = pd.Series(
    data=[1, 0, 1, 0]
)

ser_zero_one == 1

0     True
1    False
2     True
3    False
dtype: bool

### Using `astype(int)`

In [40]:
ser_true_false = pd.Series(
    data=[True, True, False, False]
)

ser_true_false

0     True
1     True
2    False
3    False
dtype: bool

In [41]:
ser_zero_one.astype(int)

0    1
1    0
2    1
3    0
dtype: int64

In [42]:
# Size in bytes
ser_zero_one.astype(int).nbytes

32

In [43]:
# for 0, 1 `int8` is enough
ser_zero_one.astype(np.int8)

0    1
1    0
2    1
3    0
dtype: int8

In [44]:
# much smaller memory occupation
ser_zero_one.astype(np.int8).nbytes

4

### Using `ser.map()`

In [45]:
ser_on_off = pd.Series(
    data=["on", "off", "on", "off", "on"]
)

ser_on_off

0     on
1    off
2     on
3    off
4     on
dtype: object

In [46]:
ser_on_off.map(
    {
        "on": 1,
        "off": 0
    }
)

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [47]:
# `map` substitutes unknown values with `NaN`
ser_on_off.map(
    {
        "on": 1,
    }
)

0    1.0
1    NaN
2    1.0
3    NaN
4    1.0
dtype: float64

### Using `ser.replace()`

In [48]:
ser_on_off.replace(
    {
        "on": 1,
        "off": 0
    }
)

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [49]:
# `replace` leaves unknown values as they are
ser_on_off.replace(
    {
        "on": 1,
    }
)

0      1
1    off
2      1
3    off
4      1
dtype: object

### Handling wrong values - combining `.map()` and `.replace()`

In [50]:
ser_on_off_and_more = pd.Series(
    data=["on", "off", 1, np.nan, 0.5]
)

ser_on_off_and_more

0     on
1    off
2      1
3    NaN
4    0.5
dtype: object

In [51]:
# Anything that's not in dictionary, will get mapped to `NaN`
ser_on_off_and_more.map(
    {
        "on": 1,
        "off": 0
    }
)

0    1.0
1    0.0
2    NaN
3    NaN
4    NaN
dtype: float64

**Practical example**

Let's try to convert *multi status* signal to *on/off*

In [52]:
ser_intensity = pd.Series(
    data=["off", "weak", "strong", "mega strong", "holy f#%!", "off"]
)

ser_intensity

0            off
1           weak
2         strong
3    mega strong
4      holy f#%!
5            off
dtype: object

In [53]:
# We know that anything that's not in a dictionary maps to `NaN`
ser_intensity.map(
    {
        "off": 0
    }
)

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
5    0.0
dtype: float64

Use .`replace()`

In [54]:
# Replace Nan with value of your choice
ser_intensity.map(
    {
        "off": 0
    }
).replace(
    np.nan, 1
)

0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
dtype: float64

In [55]:
# Nan is float
type(np.nan)

float

In [56]:
# No need for using 'floats', let's convert back to int
ser_intensity.map(
    {
        "off": 0
    }
).replace(
    np.nan, 1
).astype(int)

0    0
1    1
2    1
3    1
4    1
5    0
dtype: int64

Use `.fillna()`  
This can be used as an alternative to `.replace()`.

In [57]:
# 'fillna()' as an alternative to 'replace'
ser_intensity.map(
    {
        "off": 0
    }
).fillna(
    1
).astype(int)

0    0
1    1
2    1
3    1
4    1
5    0
dtype: int64

### Use `defaultdict`

In [58]:
from collections import defaultdict

`defaultdict` must me initiated with the default value first.  

We need to use `lamda` as default value in `defaultdict` must be a **callable** so it cannot be a single value.

In [59]:
def_dict = defaultdict(lambda: 1)

In [60]:
# Define desired mapping - anything that's not in the mapping will take default value
def_dict["off"] = 0

In [61]:
def_dict

defaultdict(<function __main__.<lambda>()>, {'off': 0})

In [62]:
ser_intensity

0            off
1           weak
2         strong
3    mega strong
4      holy f#%!
5            off
dtype: object

In [63]:
# No need for replacing/filling Nan/converting back to int
ser_intensity.map(def_dict)

0    0
1    1
2    1
3    1
4    1
5    0
dtype: int64