# Empty containers

## Python

### `list`

In [1]:
# way 1
empty_list_1 = []
empty_list_1

[]

In [2]:
# type check
type(empty_list_1)

list

In [3]:
# way 2
empty_list_2 = list()
empty_list_2

[]

In [4]:
# type check
type(empty_list_2)

list

### `tuple`

In [5]:
# way 1
empty_tuple_1 = ()
empty_tuple_1

()

In [6]:
# type check
type(empty_tuple_1)

tuple

In [7]:
# way 2
empty_tuple_2 = tuple()
empty_tuple_2

()

In [8]:
# type check
type(empty_tuple_2)

tuple

### `dict`

In [9]:
# way 1
empty_dict_1 = {}
empty_dict_1

{}

In [10]:
# type check
type(empty_dict_1)

dict

In [11]:
# way 2
empty_dict_2 = dict()
empty_dict_2

{}

In [12]:
# type check
type(empty_dict_2)

dict

### `set`

In [13]:
empty_set = set()
empty_set

set()

In [14]:
# type check
type(empty_set)

set

**Note:** as shown in a previous example, `{}` notation creates an empty `dict`.

### `string`

In [15]:
# Way 1
empty_str_1 = ""  # no space required between ""
empty_str_1

''

In [16]:
# type check
type(empty_str_1)

str

In [17]:
# Way 2
empty_str_2 = ''  # no space required between ''
empty_str_2

''

In [18]:
# type check
type(empty_str_2)

str

In [19]:
# Way 3
empty_str_3 = str()
empty_str_3

''

In [20]:
# type check
type(empty_str_3)

str

## Pandas

In [21]:
import pandas as pd

### `pd.Series`

In [22]:
empty_ser_1 = pd.Series()
empty_ser_1

C:\Users\pjastrz1\AppData\Local\Temp\ipykernel_13436\206768602.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_ser_1 = pd.Series()

Series([], dtype: float64)

In [23]:
# type check
type(empty_ser_1)

pandas.core.series.Series

In [24]:
# provide a data type for the Series
empty_ser_2 = pd.Series(
    dtype=int
)
empty_ser_2

Series([], dtype: int32)

### `pd.DataFrame`

In [25]:
empty_df_1 = pd.DataFrame()
empty_df_1

Empty DataFrame
Columns: []
Index: []

In [26]:
# type check
type(empty_df_1)

pandas.core.frame.DataFrame

In [27]:
# df with predefined column names and index
empty_df_2 = pd.DataFrame(
    index=list("abcde"),
    columns=list("ABCD"),
)
empty_df_2

     A    B    C    D
a  NaN  NaN  NaN  NaN
b  NaN  NaN  NaN  NaN
c  NaN  NaN  NaN  NaN
d  NaN  NaN  NaN  NaN
e  NaN  NaN  NaN  NaN

In [28]:
# DEV
from tabulate import tabulate

print(
    tabulate(
        empty_df_2,
        headers=empty_df_2.columns,
        tablefmt="simple"
    )
)

      A    B    C    D
--  ---  ---  ---  ---
a   nan  nan  nan  nan
b   nan  nan  nan  nan
c   nan  nan  nan  nan
d   nan  nan  nan  nan
e   nan  nan  nan  nan

In [29]:
empty_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       0 non-null      object
 1   B       0 non-null      object
 2   C       0 non-null      object
 3   D       0 non-null      object
dtypes: object(4)
memory usage: 200.0+ bytes

In [30]:
# df with predefined column names and column types
empty_df_3 = pd.DataFrame(
    {
        "col_int": pd.Series(dtype=int),
        "col_float": pd.Series(dtype=float)
    }
)
empty_df_3

Empty DataFrame
Columns: [col_int, col_float]
Index: []

In [31]:
empty_df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   col_int    0 non-null      int32
 1   col_float  0 non-null      float64
dtypes: float64(1), int32(1)
memory usage: 0.0+ bytes

## Numpy

Empty can mean:

* empty array as in an array which has zero dimentions
* empty array which has defined shape and `dtype` so it will occupy fixed space in a memory but has not values

In [32]:
import numpy as np

### `np.array()`

In [33]:
# array with zero dimensions and default type
empty_arr_1 = np.array([])
empty_arr_1

array([], dtype=float64)

In [34]:
# type check
type(empty_arr_1)

numpy.ndarray

In [35]:
np.info(empty_arr_1)

class:  ndarray
shape:  (0,)
strides:  (8,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x2956f4d83f0
byteorder:  little
byteswap:  False
type: float64

### `np.empty()`

In [36]:
empty_arr_2 = np.empty(
    shape=0
)

In [37]:
np.info(empty_arr_2)

class:  ndarray
shape:  (0,)
strides:  (8,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x2956f4d84e0
byteorder:  little
byteswap:  False
type: float64

In [38]:
# array with specific shape and default `dtype`
empty_arr_3 = np.empty(
    shape=[2, 3]
)
empty_arr_3

array([[6.23042070e-307, 4.67296746e-307, 1.69121096e-306],
       [7.56597091e-307, 2.31423164e-306, 2.42092166e-322]])

In [39]:
np.info(empty_arr_3)

class:  ndarray
shape:  (2, 3)
strides:  (24, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x295500ce160
byteorder:  little
byteswap:  False
type: float64

In [40]:
# array with specific shape and `dtype`
empty_arr_4 = np.empty(
    shape=[2, 3],
    dtype=np.int8
)
empty_arr_4

array([[1, 1, 1],
       [1, 1, 1]], dtype=int8)

In [41]:
np.info(empty_arr_4)

class:  ndarray
shape:  (2, 3)
strides:  (3, 1)
itemsize:  1
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x2956f4d8610
byteorder:  little
byteswap:  False
type: int8

### `np.zeros()`

In [42]:
# array with zero dimensions and default type
empty_arr_5 = np.zeros(
    shape=0
)
empty_arr_5

array([], dtype=float64)

### `np.ones()`

In [43]:
# array with zero dimensions and default type
empty_arr_6 = np.ones(
    shape=0
)
empty_arr_6

array([], dtype=float64)

### `np.full()`

In [44]:
# array with zero dimensions and default type
empty_arr_7 = np.full(
    shape=0, 
    fill_value=[]
)
empty_arr_7

array([], dtype=float64)

In [45]:
# array with zero dimensions and `dtype` as for the value specified in `fill_value`
empty_arr_8 = np.full(
    shape=0, 
    fill_value=0
)
empty_arr_8

array([], dtype=int32)