# How to create an empty data container

Code for the following Medium article: [link](https://medium.com/geekculture/how-to-create-an-empty-data-container-a592c2f14ef3)

## Python

### `list`

In [29]:
# way 1
empty_list_1 = []
empty_list_1

[]

In [30]:
# type check
type(empty_list_1)

list

In [31]:
# way 2
empty_list_2 = list()
empty_list_2

[]

In [32]:
# type check
type(empty_list_2)

list

### `tuple`

In [33]:
# way 1
empty_tuple_1 = ()
empty_tuple_1

()

In [34]:
# type check
type(empty_tuple_1)

tuple

In [35]:
# way 2
empty_tuple_2 = tuple()
empty_tuple_2

()

In [36]:
# type check
type(empty_tuple_2)

tuple

### `dict`

In [37]:
# way 1
empty_dict_1 = {}
empty_dict_1

{}

In [38]:
# type check
type(empty_dict_1)

dict

In [39]:
# way 2
empty_dict_2 = dict()
empty_dict_2

{}

In [40]:
# type check
type(empty_dict_2)

dict

### `set`

In [41]:
empty_set = set()
empty_set

set()

In [42]:
# type check
type(empty_set)

set

**Note:** as shown in a previous example, `{}` notation creates an empty `dict`.

### `string`

In [43]:
# Way 1
empty_str_1 = ""  # no space required between ""
empty_str_1

''

In [44]:
# type check
type(empty_str_1)

str

In [45]:
# Way 2
empty_str_2 = ''  # no space required between ''
empty_str_2

''

In [46]:
# type check
type(empty_str_2)

str

In [47]:
# Way 3
empty_str_3 = str()
empty_str_3

''

In [48]:
# type check
type(empty_str_3)

str

## Pandas

In [49]:
import pandas as pd

### `pd.Series`

In [50]:
empty_ser_1 = pd.Series()
empty_ser_1

/tmp/ipykernel_9373/206768602.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_ser_1 = pd.Series()

Series([], dtype: float64)

In [51]:
# type check
type(empty_ser_1)

pandas.core.series.Series

In [52]:
# provide a data type for the Series
empty_ser_2 = pd.Series(
    dtype=int
)
empty_ser_2

Series([], dtype: int64)

### `pd.DataFrame`

In [53]:
empty_df_1 = pd.DataFrame()
empty_df_1

Empty DataFrame
Columns: []
Index: []

In [54]:
# type check
type(empty_df_1)

pandas.core.frame.DataFrame

In [55]:
# df with predefined column names and index
empty_df_2 = pd.DataFrame(
    index=list("abcde"),
    columns=list("ABCD"),
)
empty_df_2

     A    B    C    D
a  NaN  NaN  NaN  NaN
b  NaN  NaN  NaN  NaN
c  NaN  NaN  NaN  NaN
d  NaN  NaN  NaN  NaN
e  NaN  NaN  NaN  NaN

In [56]:
empty_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       0 non-null      object
 1   B       0 non-null      object
 2   C       0 non-null      object
 3   D       0 non-null      object
dtypes: object(4)
memory usage: 200.0+ bytes

In [57]:
# df with predefined column names and column types
empty_df_3 = pd.DataFrame(
    {
        "col_int": pd.Series(dtype=int),
        "col_float": pd.Series(dtype=float)
    }
)
empty_df_3

Empty DataFrame
Columns: [col_int, col_float]
Index: []

In [58]:
empty_df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   col_int    0 non-null      int64
 1   col_float  0 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 0.0+ bytes

## Numpy

Empty can mean:

* empty array as in an array which has zero dimentions
* empty array which has defined shape and `dtype` so it will occupy fixed space in a memory but has not values

In [59]:
import numpy as np

### `np.array()`

In [60]:
# array with zero dimensions and default type
empty_arr_1 = np.array([])
empty_arr_1

array([], dtype=float64)

In [61]:
# type check
type(empty_arr_1)

numpy.ndarray

In [62]:
np.info(empty_arr_1)

class:  ndarray
shape:  (0,)
strides:  (0,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x56517ba14eb0
byteorder:  little
byteswap:  False
type: float64

### `np.empty()`

In [63]:
empty_arr_2 = np.empty(
    shape=0
)

In [64]:
np.info(empty_arr_2)

class:  ndarray
shape:  (0,)
strides:  (0,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x56517c2d2e80
byteorder:  little
byteswap:  False
type: float64

In [65]:
# array with specific shape and default `dtype`
empty_arr_3 = np.empty(
    shape=[2, 3]
)
empty_arr_3

array([[2.e-323, 2.e-323, 2.e-323],
       [2.e-323, 2.e-323, 2.e-323]])

In [66]:
np.info(empty_arr_3)

class:  ndarray
shape:  (2, 3)
strides:  (24, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x56517c24fd40
byteorder:  little
byteswap:  False
type: float64

In [67]:
# array with specific shape and `dtype`
empty_arr_4 = np.empty(
    shape=[2, 3],
    dtype=np.int8
)
empty_arr_4

array([[1, 1, 1],
       [1, 1, 1]], dtype=int8)

In [68]:
np.info(empty_arr_4)

class:  ndarray
shape:  (2, 3)
strides:  (3, 1)
itemsize:  1
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x56517c52fab0
byteorder:  little
byteswap:  False
type: int8

### `np.zeros()`

In [69]:
# array with zero dimensions and default type
empty_arr_5 = np.zeros(
    shape=0
)
empty_arr_5

array([], dtype=float64)

### `np.ones()`

In [70]:
# array with zero dimensions and default type
empty_arr_6 = np.ones(
    shape=0
)
empty_arr_6

array([], dtype=float64)

### `np.full()`

In [71]:
# array with zero dimensions and default type
empty_arr_7 = np.full(
    shape=0, 
    fill_value=[]
)
empty_arr_7

array([], dtype=float64)

In [72]:
# array with zero dimensions and `dtype` as for the value specified in `fill_value`
empty_arr_8 = np.full(
    shape=0, 
    fill_value=0
)
empty_arr_8

array([], dtype=int64)