# Normalize column names in Pandas DataFrame

## Imports

In [1]:
import pandas as pd

## Mock a (bad) DataFrame

In [2]:
df = pd.DataFrame(
    {
        " id": ["ID_1", "ID_2", "ID_3", "ID_4", "ID_5"],
        "name": ["Meg", "Bill", "Adam", "Alicia", "Akshay"],
        "surname ": ["Smith", "Khan", "Sanders", "O'Hara", "Johnson"],
        "years  employed": [2, 4, 5, 3, 10],
    }
)

In [3]:
df

     id    name surname   years  employed
0  ID_1     Meg    Smith                2
1  ID_2    Bill     Khan                4
2  ID_3    Adam  Sanders                5
3  ID_4  Alicia   O'Hara                3
4  ID_5  Akshay  Johnson               10

In [4]:
df["id"]

KeyError: 'id'

In [5]:
df.columns

Index([' id', 'name', 'surname ', 'years  employed'], dtype='object')

In [6]:
df = pd.DataFrame(
    {
        " id": ["ID_1", "ID_2", "ID_3", "ID_4", "ID_5"],
        "Name": ["Meg", "Bill", "Adam", "Alicia", "Akshay"],
        "SURNAME": ["Smith", "Khan", "Sanders", "O'Hara", "Johnson"],
        "years-employed": [2, 4, 5, 3, 10],
        "position ": ["apprentice", "senior", "senior", "senior", "exec"],
        "contract/PERM": ["contract", "perm", "perm", "contract", "perm"],
        "work arrangement": ["office", "hybrid", "remote", "remote", "office"],
        "use.car.park?": ["no", "yes", "no", "no", "yes"],
    }
)

The columns look messy but in the preview there are still things you can't clearly see, like trailing/leading spaces.

In [7]:
df

,id,Name,SURNAME,years-employed,position,contract/PERM,work arrangement,use.car.park?
0,ID_1,Meg,Smith,2,apprentice,contract,office,no
1,ID_2,Bill,Khan,4,senior,perm,hybrid,yes
2,ID_3,Adam,Sanders,5,senior,perm,remote,no
3,ID_4,Alicia,O'Hara,3,senior,contract,remote,no
4,ID_5,Akshay,Johnson,10,exec,perm,office,yes

In [8]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?'],
      dtype='object')

## Accessing string methods of column index

In [9]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
df.columns.str

### Strip trailing spaces

In [11]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?'],
      dtype='object')

In [12]:
df.columns.str.strip()

Index(['id', 'Name', 'SURNAME', 'years-employed', 'position', 'contract/PERM',
       'work arrangement', 'use.car.park?'],
      dtype='object')

### Updating the column names

String operations aren't `in place`.  
We need need to assign the changes back to the column variable.

In [13]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?'],
      dtype='object')

In [14]:
df.columns = df.columns.str.strip()

In [15]:
df.columns

Index(['id', 'Name', 'SURNAME', 'years-employed', 'position', 'contract/PERM',
       'work arrangement', 'use.car.park?'],
      dtype='object')

### Normalize letters

- Make them all "lower case" or "UPPER CASE" or "Title Case"

In [16]:
df.columns

Index(['id', 'Name', 'SURNAME', 'years-employed', 'position', 'contract/PERM',
       'work arrangement', 'use.car.park?'],
      dtype='object')

In [17]:
# Also check `.str.casefold()` method

In [18]:
df.columns.str.lower()

Index(['id', 'name', 'surname', 'years-employed', 'position', 'contract/perm',
       'work arrangement', 'use.car.park?'],
      dtype='object')

In [19]:
df.columns.str.upper()

Index(['ID', 'NAME', 'SURNAME', 'YEARS-EMPLOYED', 'POSITION', 'CONTRACT/PERM',
       'WORK ARRANGEMENT', 'USE.CAR.PARK?'],
      dtype='object')

In [20]:
df.columns.str.capitalize()

Index(['Id', 'Name', 'Surname', 'Years-employed', 'Position', 'Contract/perm',
       'Work arrangement', 'Use.car.park?'],
      dtype='object')

### Chaining the operations

In my case I want to go with the lower case normalization.

In [21]:
df.columns = (
    df.columns
        .str.strip()
        .str.lower()
)

In [22]:
df.columns

Index(['id', 'name', 'surname', 'years-employed', 'position', 'contract/perm',
       'work arrangement', 'use.car.park?'],
      dtype='object')

### Replacing characters

I like having all of the words separated with the underscore.

I also used `.str.replace` to remove unwanted specific characters.

In [23]:
df.columns = (
    df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("-", "_")
        .str.replace(".", "_")
        .str.replace("/", "_")
        .str.replace("?", "")  # remove `?`
)

In [24]:
df.columns

Index(['id', 'name', 'surname', 'years_employed', 'position', 'contract_perm',
       'work_arrangement', 'use_car_park'],
      dtype='object')

## Wrap operation into a reusable function

In [25]:
def normalize_column_names(df: pd.DataFrame) -> pd.DataFrame:
    """Clean the DataFrame's column names
    """
    df = df.copy()

    df.columns = (
        df.columns
            .str.strip()
            .str.lower()
            .str.replace(" ", "_")
            .str.replace("-", "_")
            .str.replace(".", "_")
            .str.replace("/", "_")
            .str.replace("?", "")
    )

    return df

In [26]:
df = pd.DataFrame(
    {
        " id": ["ID_1", "ID_2", "ID_3", "ID_4", "ID_5"],
        "Name": ["Meg", "Bill", "Adam", "Alicia", "Akshay"],
        "SURNAME": ["Smith", "Khan", "Sanders", "O'Hara", "Johnson"],
        "years-employed": [2, 4, 5, 3, 10],
        "position ": ["apprentice", "senior", "senior", "senior", "exec"],
        "contract/PERM": ["contract", "perm", "perm", "contract", "perm"],
        "work arrangement": ["office", "hybrid", "remote", "remote", "office"],
        "use.car.park?": ["no", "yes", "no", "no", "yes"],
    }
)

In [27]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?'],
      dtype='object')

In [28]:
clean_df = normalize_column_names(df)

In [29]:
clean_df.columns

Index(['id', 'name', 'surname', 'years_employed', 'position', 'contract_perm',
       'work_arrangement', 'use_car_park'],
      dtype='object')

## Use regexp for more tricky cases

Lots of cleaning can be done with string methods alone. But regexp can help handle more tricky cases.

### Provide a list of characters to replace with the underscore

In [30]:
df = pd.DataFrame(
    {
        " id": ["ID_1", "ID_2", "ID_3", "ID_4", "ID_5"],
        "Name": ["Meg", "Bill", "Adam", "Alicia", "Akshay"],
        "SURNAME": ["Smith", "Khan", "Sanders", "O'Hara", "Johnson"],
        "years-employed": [2, 4, 5, 3, 10],
        "position ": ["apprentice", "senior", "senior", "senior", "exec"],
        "contract/PERM": ["contract", "perm", "perm", "contract", "perm"],
        "work arrangement": ["office", "hybrid", "remote", "remote", "office"],
        "use.car.park?": ["no", "yes", "no", "no", "yes"],
        "#made    up column_1*": [True, False, False, True, True],
        "made\tup\ncolumn_2": [0, 1, 2, 3, 4],
    }
)

In [31]:
df

,id,Name,SURNAME,years-employed,position,contract/PERM,work arrangement,use.car.park?,#made up column_1*,made\tup\ncolumn_2
0,ID_1,Meg,Smith,2,apprentice,contract,office,no,True,0
1,ID_2,Bill,Khan,4,senior,perm,hybrid,yes,False,1
2,ID_3,Adam,Sanders,5,senior,perm,remote,no,False,2
3,ID_4,Alicia,O'Hara,3,senior,contract,remote,no,True,3
4,ID_5,Akshay,Johnson,10,exec,perm,office,yes,True,4

In [32]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?',
       '#made    up column_1*', 'made\tup\ncolumn_2'],
      dtype='object')

In [33]:
df.columns = (
    df.columns
        .str.strip()
        .str.lower()
        .str.replace(r"[ \-./]", "_", regex=True)
        .str.replace(r"[?*#]", "", regex=True)
)

In [34]:
df.columns

Index(['id', 'name', 'surname', 'years_employed', 'position', 'contract_perm',
       'work_arrangement', 'use_car_park', 'made____up_column_1',
       'made\tup\ncolumn_2'],
      dtype='object')

There's a problem as one of the columns had multiple spaces and they got replaced with multiple underscores.

In [35]:
df = pd.DataFrame(
    {
        " id": ["ID_1", "ID_2", "ID_3", "ID_4", "ID_5"],
        "Name": ["Meg", "Bill", "Adam", "Alicia", "Akshay"],
        "SURNAME": ["Smith", "Khan", "Sanders", "O'Hara", "Johnson"],
        "years-employed": [2, 4, 5, 3, 10],
        "position ": ["apprentice", "senior", "senior", "senior", "exec"],
        "contract/PERM": ["contract", "perm", "perm", "contract", "perm"],
        "work arrangement": ["office", "hybrid", "remote", "remote", "office"],
        "use.car.park?": ["no", "yes", "no", "no", "yes"],
        "#made    up column_1*": [True, False, False, True, True],
        "made\tup\ncolumn_2": [0, 1, 2, 3, 4],
    }
)

In [36]:
df.columns

Index([' id', 'Name', 'SURNAME', 'years-employed', 'position ',
       'contract/PERM', 'work arrangement', 'use.car.park?',
       '#made    up column_1*', 'made\tup\ncolumn_2'],
      dtype='object')

In [37]:
df.columns = (
    df.columns
        .str.strip()
        .str.lower()
        .str.replace(r"\s+", "_", regex=True)
        .str.replace(r"[\-./]", "_", regex=True)
        .str.replace(r"[?*#]", "", regex=True)
)

In [38]:
df.columns

Index(['id', 'name', 'surname', 'years_employed', 'position', 'contract_perm',
       'work_arrangement', 'use_car_park', 'made_up_column_1',
       'made_up_column_2'],
      dtype='object')